<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace :必须与对应接口全类名一致 id: 必须与对应接口的某个对应的方法名一致 -->

<mapper namespace="com.uniplore.graph.dsm.db.mapper.BufferEdgeMapper">
   
	<!-- edge表中持久层实体和数据库表之间的映射关系 -->
	<resultMap type="com.uniplore.graph.dsm.db.entity.Edge"
		id="edgeResult">
		<id column="id" property="id" />   <!-- 主键 -->
	    <result property="sourceNodeID" column="source_node_id"/>
	    <result property="targetNodeID" column="target_node_id"/>
	    <result property="sourceNodeName" column="source_node_name"/>
	    <result property="targetNodeName" column="target_node_name"/>
	    <result property="edgeState" column="edge_state"/>
	</resultMap>
	
	<!-- 删除中间数据库层edge表中所有的数据 -->
	<delete id="deleteEdgeData">
	    delete from edge
	</delete>
	
	<!-- 插入边数据 -->
	<insert id="insertEdgeData" parameterType="com.uniplore.graph.dsm.db.entity.Edge">
	    insert into edge(id,source_node_id,target_node_id,source_node_name,target_node_name,edge_state) 
	    values(#{id},#{sourceNodeID},#{targetNodeID},#{sourceNodeName},#{targetNodeName},#{edgeState})
	</insert>
</mapper>