@CHARSET "UTF-8";
body{
	background-image: url(../../img/dsm/background.png);
	font-family: Microsoft Yahei,Simsun,GillSans, Calibri, Trebuchet, sans-serif;
}
*{
	margin: 0;
	padding: 0;
}

.main{
	width: 100%;
	min-width: 1100px;
}

#modal-db-mysql{
	width: 600px;
	min-width: 600px;
	height: 620px;
	min-height: 620px;
	background-image: url(../../img/dsm/background.png);
}

#modal-db-text{
	width: 600px;
	min-width: 600px;
	height: 500px;
	min-height: 500px;
	background-image: url(../../img/dsm/background.png);
}

#modal-db-json{
	width: 600px;
	min-width: 600px;
	height: 500px;
	min-height: 500px;
	background-image: url(../../img/dsm/background.png);
}

.main-side-bar-left{
	float: left;
	height: 100%;
	width: 300px;
	min-width: 300px;
	background-color: #313131;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.main-side-bar-left .logo dl{
	background-color: #2a2a2a;
}

.main-side-bar-left .logo dl a {
	display: block;
	padding-top : 15px;
	padding-bottom : 15px;
	padding-left: 18px;
}

.main-side-bar-left .logo dl a:hover{
	background-color: #202020;
}

.main-side-bar-left .logo dl a img {
	width: 20px;
	height: 20px;
}

.main-side-bar-right {
	float: right;
	width: 340px;
	height: 100%;
	background-color: #c0c0c0;
	overflow: hidden;
	min-width: 340px;
}

.main-content-center {
	float: left;
	width: calc(100% - 300px - 340px);  /*自动根据浏览器的大小计算除了左侧栏和右侧栏剩余部分的宽度*/
	height: 100%;
	overflow: hidden;
	min-width: 460px;
}

.connection {
	padding: 0 10px 0 0 ;
}
.connection h5 {
	padding-top: 30px;
	padding-left: 28px;
}
.connection h5 a{
	font-size: 30px;
	color: #FFFFFF;
}

.connection .file ul li {
	padding-left: 44px;
}
.connection .file ul li a {
	display: block;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #fff;
	font-size: 18px;
}
.connection .file h5 a {
	color: #bdbdbd;
	font-size: 24px;
}
.connection .file ul li a:hover {
	background-color: #202020;
}

.connection .server ul li {
	padding-left: 44px;
}
.connection .server ul li a {
	display: block;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #fff;
	font-size: 18px;
}
.connection .server h5 a {
	color: #bdbdbd;
	font-size: 24px;
}
.connection .server ul li a:hover {
	background-color: #202020;
}

.fr {
	float: right;
	padding-right: 10px;
	overflow: hidden;
}

.main-content-center .main-content-center-header {
	height: 50px;
	width: 100% ;
}

.main-side-bar-right .main-side-bar-right-header {
	height: 50px;
	width: 100% ;
}

.main-side-bar-right .explore {
	padding: 0 10px 0 0 ;
}

.explore h5 {
	padding-top: 30px;
	padding-left: 28px;
}

.explore h5 a{
	font-size: 30px;
	color: #535353;
}

.explore ul li {
	padding-left: 44px;
}

.explore ul li a {
	display: block;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #303030;
	font-size: 18px;
}

.explore ul li a:hover {
	background-color: #818181;
}


/*分割*/
.source h5 {
	padding-top: 30px;
	padding-left: 28px;
}

.source h5 a{
	font-size: 30px;
	color: #535353;
}

.source ul li {
	padding-left: 44px;
}

.source ul li a {
	display: block;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #303030;
	font-size: 18px;
}

.source ul li a:hover {
	background-color: #818181;
}