@CHARSET "UTF-8";

#modal-db-mysql{
	width: 600px;
	min-width: 600px;
	height: 620px;
	min-height: 620px;
	background-image: url(../../img/dsm/background.png);
}

#modal-db-text{
	width: 600px;
	min-width: 600px;
	height: 400px;
	min-height: 400px;
	background-image: url(../../img/dsm/background.png);
}
.main-side-bar-1{
	height: 100%;
	/* width:100%; */
	min-width: 158px;
	background-color: #313131;
}

.hoverable h5{
	font-family: GillSans, Calibri, Trebuchet, sans-serif;
	color: #fff;
	font-size: 25px;
}

.hoverable h6{
	font-family: GillSans, Calibri, Trebuchet, sans-serif;
	color: #c0c0c0;
}

.hoverable a{
	font-family: GillSans, Calibri, Trebuchet, sans-serif;
	color: #fff;
}