.footer{
	width: 100%;
	height: 240px;
	background-color: #333C4E;
}

.footer-content{
	width: 600px;
	margin: 0 auto;
}

.footer .footer-content .footer-content-1 ul{
	list-style: none;
}