<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <servlet>
    <servlet-name>dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
    <!-- 
         该初始化参数（contextConfigLocation）必须要配置，如果不配置，其默认加载的是/WEB-INF/dispatcher-servlet.xml，
         所以如果不配置，必须将spring的配置文件放在指定的位置，文件的命名也要按照上述格式命名
     -->
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/spring.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet>
  <!-- 配置geetest滑块验证码的servlet -->
    <servlet-name>StartCaptchaServlet</servlet-name>
    <servlet-class>com.geetest.sdk.java.web.demo.StartCaptchaServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
7   <servlet-name>StartCaptchaServlet</servlet-name>
    <!-- 在请求验证码时，由StartCaptchaServlet解析并转发  -->
8   <url-pattern>/graphanalysis/imageCaptcha</url-pattern>
9 </servlet-mapping>
  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <!-- 
        在url-pattern的配置中可以采用以下三种方式：
        1. *.action， 访问以.action结尾的url时，由DispatcherServlet进行解析转发
        2. /，所有访问地址都由DispatcherServlet进行解析转发，此时要注意，这种情况下图片、js、css等静态的文件都由DispatcherServlet
           进行解析不合理，所以需要配置静态文件不让DispatcherServlet解析，使用此种配置方法能够实现RESTful风格
        3. /*，这种配置方式不正确，使用这种配置，最终要转发到一个jsp页面时，仍然会由DispatcherServlet解析jsp页面，不能根据jsp
           页面找到Controller，会报错
     -->
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/js/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/img/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/css/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/utils/*</url-pattern>
  </servlet-mapping>
</web-app>