@CHARSET "UTF-8";

html{
	font-family: GillSans, Calibri, Trebuchet, sans-serif;
}
.content{
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	min-width: 1080px;  //定义最小宽度，使得导航条部分不会随着网页的变小宽度发生变化
}
ul{
	list-style: outside none none;
}
.box1{
	background: #050505;
	width: 100%;
	height: 100px;
	margin-right: 0px;
}

.box2{
	background:#050505;
	width: 100%;
	height: 100px;
	text-align: center;
	line-height: 80px;
	margin: 0px;
}

.box3{
	background: #050505;
	width: 100%;
	height: 100px;
}

.box2 ul li a{
	font-size: 15px;
	float: left;
	color: #808080;
	cursor:pointer;
	text-align: center;
	line-height: 80px;
}

.box2 ul li a:hover{
	font-size: 15px;
	float: left;
	color:#fff;
	cursor:pointer;
	text-decoration: none;
}

.box3 ul li{
	font-size: 15px;
	float: left;
	color:#fff;
	width: 50px;
}

.box2 ul li a img{
	float:left; 
	width: 50px;
	margin-top: 8px;
	height: inherit;
	cursor:pointer;
	text-align: center;
	line-height: 90px;
}
.box3 ul li a {
	color: #808080;
}

.box3 ul li a:hover{
	font-size: 15px;
	color: #fff;
	text-decoration: none;
	
}

.last{
	margin-right: 15px;
	float: right;
}

.first a{
	padding: 0 40px;
}

.logo-header a{
	padding-right:200px;
}