@CHARSET "UTF-8";

.box-shadow-big{
	width: 100%;
	height: 460px;
	border-redius: 5px;
	border: 2px solid #ccc;
	margin-top:50px;
	box-shadow: 0 0 10px #c0c0c0;
	border-radius: 15px; //圆角效果
	margin-buttom: 0px;
	min-width: 600px;  //定义最小宽度，使得中间的box-shadow部分最小能够将其中所有的内容包裹在其中，从而保证不会发生溢出
}

.box-shadow-big h1{
	display: block;
	width: 175px;
    height: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
    
    background-size: 175px 35px;
    font-weight: normal;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin-left: 20px;
    width: 95%;
    padding-buttom: 20px;
    border-bottom: 1px solid #c0c0c0 ;
}

body, input, textarea, button, legend {
    font-family: "微软雅黑";
    color: #333;
}


.top{
	margin-top: 20px;
}

.left{
	width:100%;
	font-size: 16px;
}

.right h5 {
	font-size: 18px;
	font-family: "微软雅黑";
	line-height: 30px;
}

.myul li{
	font-size: 18px;
	font-family: "微软雅黑";
	line-height: 30px;
	list-style: disc;
}

.row a:hover{
	text-decoration: underline;
}

/*在登录页面中加一条竖线*/
.line{ 
	border-left: 1px solid #D9D9D9; 
    margin-left: 1px; 
    adding-left: 5px; 
    height: 350px;
}
body{  /*设置背景图片*/
	background-image: url(../../img/ms/background.png);
	background-repeat: repeat;
	padding-top: -10px;
}

.button-self{
	width:100%;
}