<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	
	<!-- 加载类路径下的属性文件，也就是说db.properties必须放在src目录下 -->
	<properties resource="com/uniplore/graph/ms/properties/db.properties"/>


	<!-- 设置一个默认的数据库连接环境信息，只能在下面的配置环境中选择一个 -->
	<environments default="mysql_developer">
	
		<!-- 连接环境信息，取一个任意唯一的名字 -->
		<environment id="mysql_developer">
			<!-- mybatis使用jdbc事务管理方式 -->
			<transactionManager type="jdbc"/>
			<!-- mybatis使用连接池方式来获取连接 -->
			<dataSource type="pooled">
				<!-- 配置与数据库交互的4个必要属性 -->
				<property name="driver" value="${mysql.driver}"/>
				<property name="url" value="${mysql.url}"/>
				<property name="username" value="${mysql.username}"/>
				<property name="password" value="${mysql.password}"/>
			</dataSource>
		</environment>
		
	</environments>
	

	<!-- 加载映射文件，每个mapper文件都要加载进来-->
	<!-- <mappers>
		<mapper resource="com/uniplore/graph/ms/mapper/UserMapper.xml"/>
	</mappers> -->
	
</configuration>